body {
    font-family: "Roboto", Arial, sans-serif;
    background-color: #f8f9fa;
}

.sidebar {
    height: 100vh;
    background: linear-gradient(to bottom, #266db4, #415569);
    color: white;
    padding-top: 20px;
    position: sticky;
    top: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: #ecf0f1;
}

.sidebar a {
    color: #ecf0f1;
    padding: 10px 15px;
    display: block;
    font-size: 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.sidebar a:hover,
.sidebar .nav-link.active {
    background-color: #14b150;
    color: white;
}

.content {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 20px;
}

.main-content h1, .main-content h2 {
    margin-bottom: 20px;
    font-weight: 500;
    color: #2c3e50;
}

.dropdown-menu {
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu .dropdown-item {
    color: #2c3e50;
    transition: all 0.3s ease;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #1abc9c;
    color: white;
}

.text-red{
    color: red;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;
}

.btn-login {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #0056b3;
}

.form-footer {
    text-align: center;
    margin-top: 15px;
}

.form-footer a {
    text-decoration: none;
    color: #007bff;
}

.form-footer a:hover {
    text-decoration: underline;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
